---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home::CAGM">
  <Main>
    <h2 class="text-4xl">Bienvenidos</h2>
    <article class="p-4">
      <h3 class="font-bold text-2xl">Sitio de Pruebas</h3>
      <p>
        Este es un sitio web de pruebas para poner en prática dos tecnologias
        web que se están usando en la actualidad que aumentan la productividad y
        mejora el diseño de los sitios.
      </p>
    </article>
  </Main>
</Layout>
