---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
---

<Layout title="Servicios::CAGM">
  <Main>
    <h2 class="text-3xl font-bold text-center">Servicios</h2>
  </Main>
</Layout>