---
import Link from "./Link.astro"
---

<nav class="flex justify-center gap-6">
  <Link title="Inicio" href="/" />
  <Link title="Servicios" href="/servicios/" />
  <Link title="Contacto" href="/contacto/" />
</nav>